
#profilebg{
 display:flex!important;
 justify-content:space-around!important;
 align-items:center!important; 
 margin-top:0px!important;

height:1000px;
background-image: url("/images/6.png");
background-repeat: no-repeat;
background-size: cover;
position:absolute;
overflow:hidden;
left:0;
top:0;
width:100%;

}
#profileform{
    position:absolute;
    z-index:300;
    top:45px;
    display:flex;
   padding:5x;
    width:40%;
    left:25%;
    color:#F1F8FF;
   
}

@media only screen and (max-width: 992px){
    #profileform{
    right:250px;
    left:250px;
    }
}
@media only screen and (max-width: 800px){
   #profileform{
    right:200px;
    left:200px;
    }
}
@media only screen and (max-width: 700px){
   #profileform{
    right:150px;
    left:150px;
    }
}
@media only screen and (max-width: 650px){
   #profileform{
    right:120px;
    left:120px;
    }
}
@media only screen and (max-width: 600px){
   #profileform{
    right:100px;
    left:100px;
    }
}
@media only screen and (max-width: 570px){
   #profileform{
    right:70px;
    left:70px;
    }
}
@media only screen and (max-width: 540px){
   #profileform{
    right:0;
    left:0;
    width:100%;
    }
}


#form{
    position:absolute;
    z-index:500;
    top:220px;
    display:flex;
    flex-direction: column;
    left:400px;
    color:#F1F8FF;
   
}

#form2{
    position:absolute;
    z-index:3500;
    margin-top:100px;
    margin-left:30px;
    direction:rtl;
   
}



#overlayer{
    position:absolute;
   top:0;
left:0;
width:100%;
background-color: #0F172B;
z-index: 100;
height:1000px;
opacity:0.4
}

#layerheader{
position:relative;
display:block;
overflow:hidden;

background-color: red;
height:120px; 
color:red;
width:100%;
opacity:0;
}
#layer{
position:relative;
display:block;
overflow:hidden;

background-color: red;
height:1000px; 
color:red;
width:100%;
opacity:0;
}



#loginbtn{
    
    font-weight:bold;
    font-size:20px;
    margin-left:10px;
    
}

#registertext,#registertext2{
 font-size:20px;
}


#layerheader{
position:relative;
display:block;
overflow:hidden;

background-color: red;
height:300px; 
color:red;
width:100%;
opacity:0;
}




/* #test{
    position:absolute;
    z-index:200;

} */

#bg{
 background-color:#595959;   
position:absolute;
z-index:10;
height:600px;
width:60%;
opacity:0.5;
top:190px;
}

#form{
    position:absolute;
    opacity:0.7;
    z-index:500!important;
    background-color:black;
    height:600px;
    
    top:190px;
    min-width:400px;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    flex-direction: column;
    
    
}

   


@media only screen and (max-width: 1200px){
    #form{
    right:300px;
    left:300px;
    }
}
@media only screen and (max-width: 992px){
    #form{
    right:250px;
    left:250px;
    }
}
@media only screen and (max-width: 800px){
   #form{
    right:200px;
    left:200px;
    }
}
@media only screen and (max-width: 700px){
   #form{
    right:150px;
    left:150px;
    }
}
@media only screen and (max-width: 650px){
   #form{
    right:120px;
    left:120px;
    }
}
@media only screen and (max-width: 600px){
   #form{
    right:100px;
    left:100px;
    }
}
@media only screen and (max-width: 570px){
   #form{
    right:70px;
    left:70px;
    }
}
@media only screen and (max-width: 540px){
   #form{
    right:0;
    left:0;
    width:100%;
    }
}

/* @media only screen and (max-width: 600px) {
 #form{
    
    
   
    
    
} */



#loginimg{
    max-height:200px;
    max-width:120px;


}

#footer{
  width:100%;
  background-color:red;
  position:absolute;
  overflow:hidden;
  left:0;
  top:1200px;
  background-color:#060b22;
}


